<h1>Profile</h1>

<%= form_with model: Current.user, url: settings_profile_path do |form| %>
  <% if form.object.errors.any? %>
    <div>Error: <%= form.object.errors.full_messages.first %></div>
  <% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true, autocomplete: "given-name" %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true, autocomplete: "family-name" %>
  </div>

  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autocomplete: "example@gmail.com" %>
  </div>

  <div>
    <%= form.submit "Update profile" %>
  </div>
<% end %>

<%= button_to "Delete my account",
              settings_profile_path,
              method: :delete,
              data: { turbo_confirm: "Are you sure? This cannot be undone." }
%>
